<div class="bg-primary-radial-100">
  <div class="container">
    <div class="row pt-15 pt-md-15">
      <div class="col-md-4 mt-md-25">
        <h2 class="fs-10 fs-md-16 fw-bold fw-md-black ls-100">
          <%= page === "signup" ? "註冊" : "登入" %>
        </h2>
      </div>
      <div class="col-md-8 col-lg-4 text-center">
        <div class="mb-6">
          <img
            src="../assets/images/circle.png"
            alt="ALPHABOX+"
            class="w-circle animation-rotate"
          />
        </div>
        <h2 class="en-font fs-8 mb-8 fw-normal">ALPHABOX+</h2>
        <a href="##" class="btn btn-pill d-block mb-4"
          ><img
            src="../assets/images/icon/Apple Icon.png"
            alt="Apple Icon"
            class="mx-2"
          /><span class="align-middle">Continue with Apple</span></a
        >
        <a href="##" class="btn btn-pill d-block mb-6"
          ><img
            src="../assets/images/icon/Google Icon.png"
            alt="Google Icon"
            class="mx-2"
          /><span class="align-middle">Continue with Google</span></a
        >
        <div class="d-flex align-items-center mb-6 gap-1">
          <hr
            class="w-100 border-bottom opacity-100 border-gray-100 mb-0 mt-1"
          />
          <span>or</span>
          <hr
            class="w-100 border-bottom opacity-100 border-gray-100 mb-0 mt-1"
          />
        </div>
        <div
          class="form-floating mb-2 mb-md-4 <%= page === 'signup' ? '' : 'd-none' %>"
        >
          <input
            type="text"
            class="form-control text-dark"
            id="floatingInput"
            placeholder="姓名"
          />
          <label
            for="floatingInput"
            class="text-primary-500 fw-bold fs-4 fs-md-5"
            >姓名</label
          >
        </div>
        <div class="form-floating mb-2 mb-md-4">
          <input
            type="email"
            class="form-control text-dark"
            id="floatingInput"
            placeholder="EMAIL"
          />
          <label
            for="floatingInput"
            class="text-primary-500 fw-bold fs-4 fs-md-5"
            >EMAIL</label
          >
        </div>
        <div
          class="form-floating <%= page === 'signup' ? 'mb-2 ' : 'mb-2 mb-md-6' %>"
        >
          <input
            type="password"
            class="form-control text-dark"
            id="floatingInput"
            placeholder="密碼"
          />
          <label
            for="floatingInput"
            class="text-primary-500 fw-bold fs-4 fs-md-5"
            >密碼</label
          >
        </div>
        <div
          class="form-check mb-6 text-start <%= page === 'signup' ? '' : 'd-none' %>"
        >
          <span class="js-unchecked material-icons me-1">
            check_box_outline_blank
          </span>
          <span class="js-checked material-icons me-1" style="display: none">
            check_box
          </span>
          <input
            class="js-checkbox form-check-input d-none"
            type="checkbox"
            id="flexCheckDefault"
          />
          <label
            class="js-checkbox-label form-check-label align-middle"
            for="flexCheckDefault"
          >
            我已仔細閱讀</label
          ><a
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#regulations"
            class="align-middle text-decoration-underline"
            >相關條例</a
          >
        </div>
        <a href="##" class="btn btn-primary-100 d-block mb-2"
          ><img
            src="../assets/images/icon/point_scan-white.png"
            alt="icon"
            class="me-1 align-bottom"
          /><%= page === 'signup' ? '建立帳號' : '立即登入' %></a
        >
        <p
          class="text-end mb-20 mb-md-40 <%= page === 'signup' ? '' : 'd-none' %>"
        >
          已有帳號嗎？前往<a href="login.html" class="text-decoration-underline"
            >登入</a
          >
        </p>
        <p class="text-end mb-20 <%= page === 'signup' ? 'd-none' : '' %>">
          <a href="##" class="text-decoration-underline">忘記密碼</a>
        </p>
      </div>
    </div>
  </div>
</div>
